<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<%-include include/header2 %>

	<p>主体部分1 1</p>

	<%-include include/footer2 %>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>